<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><h4>Company Logo</h4></div>
            <div class="col-md-8">
                <ul>
                    <li><a href="/parking">Home</a></li>
                    <li><a href="/entry">Add Entry</a></li>
                    <li><a href=""><button>Welcome <%=loginname%></button></a></li>
                    <li><a href="/logout"><button class="btn btn-danger">Logout</button></a></li>
                </ul>
                
            </div>
        </div>
    </div>
</section>